RSWopi/packages/
RSWopi/bin/
RSWopi/obj/
RdlMigration/bin/
RdlMigration/obj/
RdlMigration/Connected Services/
RdlMigration.UnitTest/outputFiles/
packages/
/PerfConterSetup/bin/
/PerfConterSetup/obj/
/.vs/Prototypes/v14
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
/RdlBasicHost/.vs/
/.vs/
RdlMigration/.vs/
**/.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters