<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="RDL" value="https://msazure.pkgs.visualstudio.com/_packaging/Dev/nuget" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="MsAzure" value="https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json" />
    <add key="PowerBiComponents" value="https://powerbi.pkgs.visualstudio.com/_packaging/PowerBiComponents/nuget/v3/index.json" />
  </packageSources>  
</configuration>